:root {
    --primary: #76912f;
    --secondary: #f8ffe7;
    --tertiary: #fcfdff;

    --white-gradient: linear-gradient(137deg, #f0f6f5 50%, #f3f5f6 100%);
    --red-gradient: linear-gradient(137deg, #912f2f 50%, #5d193f 100%);
    --blue-gradient: linear-gradient(137deg, #2f9186 50%, #19535d 100%);

    --white-text: #ffffff;
    --black-text: #060a06;
    --important-text: #ff8d8d;
    --secondary-text: #515151;
    --tertiary-text: #dedede;
}


html, body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* scrollbar-width: thin; */
    /* scrollbar-color: #6f861e #cfe23f00; */
}

/* html::-webkit-scrollbar {
  width: 10px;
  background: #cfe23f00;
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb {
  background: #6f861e;
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #6f861e;
} */

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

html, body {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    font-size: 16px;
}

body, .tree {
    background: var(--sky-tree-fill, #81D4FA);;
}

::selection {
    background: #CEE23F;
    color: #083537;
    border-radius: 15px;
}

path:focus {
    outline: none;
}

.title {
    text-align: center;

    font-family: 'Jua';
    font-style: normal;
    font-size: 10vw;
    line-height: 188px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: bold;

    color: #CEE23F;
    text-shadow: 6px 6px 0px #6f861e;
}

.title::selection {
    text-shadow: 6px 6px 0px #222b0548;
}

h1 {
    font-family: 'Jua';
    font-style: normal;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;

    text-shadow: 4px 4px 0px #00000055;
}

.button {
    cursor: pointer;
    border-radius: 98989004px;
    background: #0000004f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 5px;
}

.button:hover {
    background: #0000007f;
}

.full {
    width: 100%;
    height: 100%;
}

.border {
    background: url("data:image/svg+xml;utf8,<svg width='256' height='128' viewBox='0 0 256 128' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M128 0C57.3075 0 0 57.3075 0 128H256C256 57.3075 198.692 0 128 0Z' fill='%2376912F'/></svg>") center;
    background-repeat: repeat-x;
    background-size: auto 100%;
    width: 100vw;
    height: 20px;
    transform: translateY(-90%);
    border: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
